@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

nav {
    width: 60%;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: #D21617;
    font-family: "Oswald", sans-serif;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: white;
    cursor: pointer;
    font-size: 23px;
    transition: .5s;
    font-family: "Oswald", sans-serif;
}

.image-box {
    width: 10%;
    margin: 0 auto;
    padding: 2px;
    border: 4px solid #ffdd00;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.image-box img {
    max-width: 100%;
    height: auto;
}

#logo {
    width: 80px;
    height: auto;
}

.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#animated-text {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 70px;
    background-color: transparent;
    overflow: hidden;
    white-space: nowrap;
}

.fullstack {
    color: yellow;
}

.highlight {
    color: #ffdd00;
}

.blink {
    animation: fade-animation 1s infinite alternate;
}

@keyframes fade-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

h1 {
    font-family: "Lora", sans-serif;
    color: #fff;
    font-size: 70px;
    background-color: transparent;
}

.arrows {
    margin-top: auto;
    width: 60px;
    height: 172px;
    bottom: 20px;
    background-color: transparent;
    position: absolute;
}

.arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
}

@keyframes arrow {
    0% { opacity: 0; }
    40% { opacity: 1; }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

.hidden-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.content-container {
    padding: 40px 0;
    width: 100%;
    background-color: transparent;
}

.container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    border: 3px solid #ffdd00;
    border-radius: 8px;
}

.column {
    flex: 1;
    padding: 0 20px;
    position: relative;
}

.column:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: #ffdd00;
}

.tecnologias ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0;
}

.tecnologias li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-family: "Lora", sans-serif;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    color: white;
    margin-bottom: 20px;
}

.column h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
    font-family: "Lora", sans-serif;
}

.contato h2 {
    text-align: center;
}

.sobre p {
    color: white;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: "Lora", sans-serif;
    font-size: 20px;
}

.contato ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.contato li {
    color: white;
    margin-bottom: 17px;
    font-family: "Lora", sans-serif;
    font-size: 20px;
}

.contato ul li {
    color: white;
    transition: color 0.3s;
}

.contato ul li strong {
    font-weight: bold;
}

.contato ul li span {
    font-weight: normal;
    color: white;
}

.contato ul li:hover span {
    color: #D21617;
}

.contato ul li span a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s;
}

.contato ul li span a:hover {
    color: #D21617;
}

.sobre a, .contato a {
    color: #ffdd00;
    text-decoration: none;
}

.tecnologias img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.projetos {
    color: white;
    font-family: "Lora", sans-serif;
    padding: 20px;
    background-color: #121212;
}

/* Estilo compartilhado para .project-card e .project-card2 */
.project-card, .project-card2 {
    max-width: 1100px;
    margin: 20px auto; /* Espaçamento entre as "caixas" */
    border: 2px solid #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    background-color: #1e1e1e;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Estilo para imagens dentro das caixas */
.project-card .project-image img, .project-card2 .project-image img {
    width: 300px;
    margin-right: 20px;
    border-radius: 8px;
}

/* Estilo para títulos de projetos */
.project-card .project-description h3, .project-card2 .project-description h3 {
    color: #ffdd00;
    font-size: 24px;
}

/* Configuração para listas de tópicos em linha dentro de .project-card e .project-card2 */
.project-card .project-description ul, .project-card2 .project-description ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    list-style: none;
}

.project-card .project-description ul li, .project-card2 .project-description ul li {
    display: inline-flex;
    font-size: 18px;
    color: white;
    font-family: "Lora", sans-serif;
}

/* Links dos projetos */
.project-card .project-links, .project-card2 .project-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.project-card .project-links a, .project-card2 .project-links a {
    color: #ffdd00;
    text-decoration: none;
    transition: color 0.3s;
}

.project-card .project-links a:hover, .project-card2 .project-links a:hover {
    color: #D21617;
}

.project-description h3 {
    color: #ffdd00;
    font-size: 24px;
}

.project-description p {
    margin-bottom: 10px;
}

.project-description ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.project-description ul li {
    font-family: "Lora", sans-serif;
    font-size: 18px;
    color: white;
    margin: 0;
}

.project-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.project-links a {
    color: #ffdd00;
    text-decoration: none;
    transition: color 0.3s;
}

.project-links a:hover {
    color: #D21617;
}

li strong {
    margin: 0 5px; /* Ajuste o valor conforme necessário */
}

footer {
    border-top: 2px solid white;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    display: inline-flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #D21617;
}

.footer-links img {
    margin-right: 5px;
}
